.table {
    width: 200%;
    max-width: 200%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* 게시글 제목 */
  .boardname {
    text-decoration: none;
    color: black;
    cursor: pointer;
  }
  
  /* 게시판 제목 */
  .boardTitle {
    font-size: 32px;
    margin-top: 20px; /* 이전과 일관성을 위해 조정 */
    margin-bottom: 20px; /* 이전과 일관성을 위해 조정 */
    text-align: center; /* 가운데 정렬 */
  }
  .search {
    display: flex;
    align-items: center;
  }
  
  .search select, .search input[type="text"], .searchBtn {
    margin-right: 10px; /* 수정: 각 요소 사이 여백 조정 */
  }
  
  .searchBtn {
    background-color: #007bff; /* 수정: 검색 버튼 색상 변경 */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 8px 16px; /* 수정: 버튼 내부 여백 조정 */
    font-size: 14px;
  }
  /* 구분선 */
  .titleLine {
    width: 100%; /* 테이블 너비에 맞게 조정 */
    height: 2px;
    border: 0;
    background-color: grey;
  }
  
  /* 글 작성 버튼 */
  .writebutton {
    background-color: #ffae52;
    color: white;
    padding: 10px 15px; /* 크기 조정 */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px; /* 크기 조정 */
    font-weight: bold; /* 굵게 설정 */
    margin-top: 20px;
    margin-right: 20px; /* 우측 여백 추가 */
  }
  
  /* 헤더 */
  .header1 {
    background-color: #f8e1c7;
    height: 50px;
    font-size: 12px;
    text-align: center;
  }
  
  .header1 .td {
    width: 10px;
    border-right: 1px solid #020000;
  }
  
  /* 헤더2 */
  .header2 {
    font-size: 12px;
  }
  .header1 .num {
    width: 5%;
  }
  
  /* 전체 게시물 */
  .allpost {
    text-align: center;
    padding: 10px 0; /* 위아래 여백 추가 */
  }
  .allpost .num {
    width: 5%;
  }
  .allpost td {
    border-right: 1px solid #ddd;
  }