*{
  font-family: 'GmarketSansMedium';
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.message {
  border-top: 1px solid #ccc;
  padding: 10px;
  margin-top: 5px;
  background-color: #e6e6e6;
  border-radius: 15px;
}

#chat-container {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  /* border: 1px solid #ccc; */
  border-radius: 15px;
  margin-right: 5px;
  margin-bottom: 5px;
}

#chat-messages {
  flex: 1;
  overflow-y: auto;
  padding: 5px;
  display: flex;
  flex-direction: column-reverse;
  border-radius: 20px;
}

#user-input {
  display: flex;
  padding: 10px;
  margin-top: 15px;
  border-radius: 13px;
}

#user-input input {
  flex: 1;
  padding: 10px;
  outline: none;
  border-radius: 15px;
}

#user-input button {
  border: none;
  background-color: #6c7aa1;
  color: white;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 15px;
  margin-left: 5px;
}

.modal {
  position: fixed; /* 모달을 화면에 고정 */
  top: 50%; /* 상단에서 50% 위치에 배치 */
  right: 0; /* 오른쪽 끝에 배치 */
  transform: translateY(-50%); /* Y축으로 50%만큼 이동하여 중앙 정렬 */
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

#open-chatbot {
  position: fixed;
  width: 75px;
  height: 75px;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-image: url('@/assets/img/chatchat2.webp');;
  background-size: cover;
  background-color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.message {
  border-top: 1px solid #ccc;
  padding: 10px;
  margin-top: 5px;
  background-color: #e6e6e6;
  border-radius: 13px;
  font-size: 12px;
}